<%- include('includes/header') %>

<link rel="stylesheet" type="text/css" href="/css/vehicles.css" />

<body>
  <div class="vehicles-container">
    <div class="navigation-menu">
      <h2 class="admin-welcome">WELCOME!</h2>
      <ul class="nav justify-content-center">
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link active" href="/admin/">Home</a>
        </li>
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link" href="/admin/vehicle/all">Vehicles</a>
        </li>
        <li class="nav-item" style="cursor: pointer">
          <a class="nav-link" href="/admin/user/all">Users</a>
        </li>
        <li
          class="nav-item"
          style="cursor: pointer"
          onclick="return confirm('Do you want to logout?')"
        >
          <a class="nav-link" href="/admin/logout">Logout</a>
        </li>
      </ul>
    </div>

    <div class="vehicles-list-frame">
      <div class="board">
        <div class="cars-table">
          <span class="new-car-txt" style="margin-bottom: 30px">
            VEHICLES LIST
          </span>
          <table class="table table-bordered table-hover">
            <thead class="thead-light">
              <tr class="thead-light">
                <th scope="col">T/r</th>
                <th scope="col">Vehicle Name</th>
                <th scope="col">Vehicle Type</th>
                <th scope="col">Rent Price per Day</th>
                <th scope="col">Vehicle Fuel</th>
                <th scope="col">Vehicle Door</th>
                <th scope="col">Vehicle Seat</th>
                <th scope="col">Vehicle Mile</th>
                <th scope="col">Status</th>
              </tr>
            </thead>
            
            <% vehicles.map(function(value, key) { %>
            <tbody style="background: white">
              <td><%= key + 1 %></td>
              <td><%= value.vehicleName %></td>
              <td><%= value.vehicleCollection %></td>
              <td><%= value.vehiclePrice %></td>
              <td><%= value.vehicleFuel %></td>
              <td><%= value.vehicleDoor %></td>
              <td><%= value.vehicleSeat %></td>
              <td><%= value.vehicleMile %></td>
              <td>
                <select 
                  class="spec-select new-vehicle-status" 
                  id="<%= value._id %>"
                >
                  <option value="PAUSE" <%= value.vehicleStatus === 'PAUSE' ? 'selected' : '' %> >PAUSE</option>
                  <option value="AVAILABLE" <%= value.vehicleStatus === 'AVAILABLE' ? 'selected' : '' %> >AVAILABLE</option>
                </select>
              </td>
            </tbody>
            <% }) %>
            
          </table>
          <div
            class="long-input"
            style="align-items: flex-end; margin-bottom: 25px"
          >
            <button class="btn btn-primary" id="process-btn">
              Add New Vehicle
            </button>
          </div>
        </div>
        <div class="form-container">
          <div class="title">Vehicle Details</div>
            <form action="#">
              <div class="vehicle-details">
                <div class="input-box">
                  <span class="details">Vehicle Name</span>
                  <input type="text" placeholder="Enter Vehicle Name" required>
                </div>
                <div class="input-box">
                  <span class="details">Rent Price per Day</span>
                  <input type="text" placeholder="Enter Rent Price per Day" required>
                </div>
                <div class="input-box">
                  <span class="details">Vehicle Mile</span>
                  <input type="text" placeholder="Enter Vehicle Mile" required>
                </div>
                <div class="input-box">
                  <span class="details">Vehicle Door</span>
                  <input type="text" placeholder="Enter Vehicle Door" required>
                </div>
                <div class="input-box">
                  <span class="details">Vehicle Seat</span>
                  <input type="text" placeholder="Enter Vehicle Seat" required>
                </div>
              </div>
              <div class="fuel-details">
                <!-- Radio buttons for fuel selection -->
                <input type="radio" name="VehicleFuel" id="dot-1">
                <input type="radio" name="VehicleFuel" id="dot-2">
                <input type="radio" name="VehicleFuel" id="dot-3">
                <input type="radio" name="VehicleFuel" id="dot-4">
                <input type="radio" name="VehicleFuel" id="dot-5">
                <span class="fuel-title">Vehicle Fuel</span>
                <div class="category">
                  <!-- Label for GASOLINE -->
                  <label for="dot-1">
                    <span class="dot one"></span>
                    <span class="fuel-type">GASOLINE</span>
                  </label>
                  <label for="dot-2">
                    <span class="dot two"></span>
                    <span class="fuel-type">HYBRID</span>
                  </label>
                  <label for="dot-3">
                    <span class="dot three"></span>
                    <span class="fuel-type">ELECTRIC</span>
                  </label>
                  <label for="dot-4">
                    <span class="dot four"></span>
                    <span class="fuel-type">DIESEL</span>
                  </label>
                  <label for="dot-5">
                    <span class="dot five"></span>
                    <span class="fuel-type">GAS</span>
                  </label>
                </div>
              </div>
              <div class="type-details">
                <span class="type-title">Vehicle Type</span>
                <td>
                  <select class="spec-select new-vehicle-status">
                    <option value="SEDAN" selected>SEDAN</option>
                    <option value="SUV">SUV</option>
                    <option value="HATCHBACK">HATCHBACK</option>
                    <option value="LUXURY">LUXURY</option>
                    <option value="MINIVAN">MINIVAN</option>
                    <option value="SPORTCAR">SPORTCAR</option>
                    <option value="OTHER">OTHER</option>
                  </select>
                </td>
              </div>
              
              <div class="img-frame">
                <label style="font-size: 25px; color: black">Upload Vehicle Images</label>
                <div class="media-frame">
                  <div class="upload-img-box">
                    <img src="/img/uploadimg.png" class="1" id="image-section-1" />
                    <input
                      type="file"
                      id="file"
                      name="productImages"
                      class="image-one"
                      required
                    />
                  </div>
                  <div class="upload-img-box">
                    <img src="/img/uploadimg.png" class="2" id="image-section-2" />
                    <input
                      type="file"
                      id="file"
                      name="productImages"
                      class="image-two"
                    />
                  </div>
                  <div class="upload-img-box">
                    <img src="/img/uploadimg.png" class="3" id="image-section-3" />
                    <input
                      type="file"
                      id="file"
                      name="productImages"
                      class="image-three"
                    />
                  </div>
                  <div class="upload-img-box">
                    <img src="/img/uploadimg.png" class="4" id="image-section-4" />
                    <input
                      type="file"
                      id="file"
                      name="productImages"
                      class="image-four"
                    />
                  </div>
                  <div class="upload-img-box">
                    <img src="/img/uploadimg.png" class="5" id="image-section-5" />
                    <input
                      type="file"
                      id="file"
                      name="productImages"
                      class="image-five"
                    />
                  </div>
                  <input name="restaurantIid" class="restaurant-id" hidden />
                </div>
              </div>
              <div class="button">
              <input type="submit" value="Register">
            </div>
          </form>
        </div>
        </div> 
      </div>
  </div>

  <script type="text/javascript" src="/js/vehicles.js"></script>
</body>

<%- include('includes/footer') %>